{% extends "layouts/main.njk" %}
<script>
  const countries = [
    'France',
    'Germany',
    'United Kingdom'
  ];
</script>

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Before you start</span>
      <label for="my-autocomplete">Select your country</label>
      <div id="my-autocomplete-container"></div>
  </div>
</div>

<script>
  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}
